.chessboardWrapper {
 box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.4);
}
.chessboard {
 width: 1200px;
 aspect-ratio: 1;
 display: grid;
 grid-template-columns: repeat(8, 1fr);
 grid-template-rows: repeat(8, 1fr);
}

.light {
 background-color: #f9b6db8a;
}
.dark {
 background-color: rgba(128, 0, 128, 0.661);
}

.field {
 display: flex;
 justify-content: center;
 align-items: center;
}

.chesspiece {
 width: 60%;
 height: 60%;
 border-radius: 50%;
}

.chesspiece svg {
 width: 100%;
 height: 100%;
}

.darkPlayer {
 color: black;
}
.lightPlayer {
 color: white;
}
