.chessboardWrapper {
 box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.4);
}
.chessboard {
 width: 1200px;
 aspect-ratio: 1;
 display: grid;
 grid-template-columns: repeat(8, 1fr);
 grid-template-rows: repeat(8, 1fr);
}

.light {
 background-color: #f9b6db8a;
}
.dark {
 background-color: rgba(128, 0, 128, 0.661);
}
.field {
 display: flex;
 justify-content: center;
 align-items: center;
 position: relative;
}
